## jupyter stuff

ipykernel
ipywidgets

## other example packages

# numpy
# pandas
# matplotlib

## huggingface and other AI packages

# huggingface_hub[hf_xet]
# llama-cpp-python
# llama-cpp-python @ git+https://github.com/JamePeng/llama-cpp-python.git
# langchain
# langchain-huggingface