{
  "overrides": [
    {
      "files": [
        "*.tex"
      ],
      "options": {
        "plugins": [
          "prettier-plugin-latex"
        ]
      }
    },
    {
      "files": [
        "*.qmd"
      ],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}